
#alinhandodiv{
  margin: 10px 0px 10px 0px;
  border: none;
  
}
#button-addon1 {
  padding: 5px 35% 5px 35%;
}

#divselecao{
  margin-left: -8px;
}

#liberadorform{
  padding-bottom: 15px;
}

.containerr {
  
  margin-left: 10%;
  padding: 15px;
}